body{
    background-color: beige;
    border: 1px black;
    margin: auto;
}

.title{
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}
.image{
    width: 500px;
    height: auto;
    object-position: center;
}
h2{
    text-align: center;
}
.ingredients{
    list-style: circle;
    background-color: white;
    margin: auto;
}
.steps{
    list-style: decimal;
    background-color: white;
}